html, body, div, p, a, form, input, h1, h2, h3, h4, h5, h6, span, label, fieldset, img, textarea, ul, li, button,
table, caption, tbody, thead, tfoot, tr, th, td
 {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

ul, ol {
    list-style-type: none;
}

/*resetten table zie lager*/

html {
    height: 100%;
}

body {
    font-family: Cambria, Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;/*Helvetica van Bootstrap standaard niet aanwezig*/
    color: #333333;/*gray20; geschikt voor het web*/
    background: url(../../../images/grid_noise.png);
    height: 100%;
}

.container {
    min-height: 100%;
    width: 90%;
    margin: 0 auto -32px;
}

.menuenwelkom {
    height: 42px;
}

/*gebruikt voor het menu*/
.pull-left {
    float: left;
}

/*gebruikt bij de identificatie*/
.pull-right {
    float: right;
}

.welcoming {
    color: yellow;
    background-color: #000;
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
	text-transform: uppercase;
    width: 160px;
    text-align: center;
}

.alert-info {
    width: 100%;
    background-color: #d04a4a;
    border-color: #fbeed5;
    border-radius: 4px;
    padding: 8px 32px 8px 16px;
    margin-bottom: 20px;
}

strong {
    color: #fbf6f6;
    font-weight: bold;
}


button.close {
    font-size: 16px;
    font-weight: bold;
    color: #000;
    /*opacity: 0.2;*//*niet veel zin*/
    background: transparent;
    float: right;
    cursor: pointer;
    border: 0;/*in files.cssniet op 0 gezet*/
}

.buttonadd {
    cursor: pointer;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 2px rgba(255, 255, 255, 0.2);/*h-shadow, v-shadow, blur, color*/
    text-decoration: none;
    text-align: center;
    background-color: #5bb75b;
    border-color: #51a351 #51a351 #387038;
    border-radius: 25px !important;/*!important verhindert onderstaande rules*/
    display: inline-block;
    padding: 4px 12px;
    font-size: 14px;
    line-height: 20px;
    vertical-align: middle;
}

.buttonadd:hover {
     color: #fff;
     background-color: #5bb77b;
}

.buttonterug {
    cursor: pointer;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 2px rgba(255, 255, 255, 0.2);/*h-shadow, v-shadpw, blur, color*/
    text-decoration: none;
    text-align: center;
    background-color: #49afcd;
    
    border: 1px solid #cccccc;
    border-radius: 25px !important;/*!important verhindert onderstaande rules*/
    display: inline-block;
    padding:  4px 12px;
    font-size: 14px;
    line-height: 20px;
    vertical-align: middle;
   
}

.buttonterug:hover {
     color: #fff;
     background-color: #49afed;
}

.rowfluid {
    width: 100%;
    height: 32px;
}

#paginatie {
    cursor: pointer;
    float: left;
    margin-bottom: 5px;
    font-size: 14px;
    /*vertical-align: middle;*//*aligneert het element vlg een verticale as tov het parent element*/ 
}



#aantalPaginas {
    width: 75px;
    height: 30px;
    margin: 0;/*margin van select initieel niet op 0 gezet*/
    padding: 4px 6px;
    background-color: #fff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    font-size: 14px;
    color: #555555;
}

#filtering {
    cursor: pointer;
    float: right;
    margin-bottom: 5px;
    font-size: 14px;
    /*vertical-align: middle;*//*aligneert het element vlg een verticale as tov het parent element*/  
}

#filter {
    width: 192px;
    height: 30px;
    margin: 0;/*margin van input initieel niet op 0 gezet*/
    padding: 4px 6px;
    background-color: #fff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    font-size: 14px;
    color: #555555;  
}

table, thead, tbody, th, tr, td {
    border: 1px solid #dddddd;
    border-collapse: collapse;/*de borders van de individuele cellen vallen tesamen. Bij seperate is dit niet zo.*/
    border-spacing: 0;
}

.sorteer {
    cursor: pointer;
}

.push {
    height: 32px;
}

.footer {
    border-top: 1px solid #000;
    height: 32px;
    width: 90%;
    text-align: center;
    margin: 0 auto;
}